
/* Element transformation  */

/*div {
	width: 300px;
	height: 100px;
	background-color: dodgerblue;
	border: 1px solid darkblue;
	transform: translate(400px, 200px);
	transform: rotate(90deg);
	transform: scale(2, 3);
	transform: scaleX(2);
	transform: scaleY(3);
	transform: skew(40deg, 40deg);
	transform: rotateZ(45deg);
}*/


/* Transitions  */

/*div {
	width: 200px;
	height: 200px;
	background-color: dodgerblue;
	transition: width 2s, height 2s, transform 2s;
	transition-timing-function: ease-in-out;
	transition-delay: 2s;
}

div:hover {
	width: 400px;
	height: 400px;
	transform: rotate(360deg);
}*/


/* Animations  */

/*div	{

	width: 200px;
	height: 200px;
	position: relative;
	background-color: dodgerblue;
	animation-name: color-changer;
	animation-duration: 2s;
	animation-delay: 3s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
	animation-direction: alternate;
	animation-direction: alternate-reverse;

}*/



/*@keyframes color-changer {

	0% {
		background-color: dodgerblue;
		top: 0;
		left: 0;
	}

	25% {
		background-color: violet;
		top: 0;
		left: 400px;
	}

	50% {
		background-color: seagreen;
		top: 300px;
		left: 400px;
	}

	75% {
		background-color: cyan;
		top: 300px;
		left: 0;
	}

	100% {
		background-color: lightcoral;
		top: 0;
		left: 0;
	}
}*/




div {
	width: 800px;
	height: 500px;
	/*background-image: linear-gradient(65deg, dodgerblue 40%, violet 60%);*/
	background-image: radial-gradient(dodgerblue 40%, violet 60%, seagreen 40%);
	margin: auto;
}